@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');



.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-madurai-semibold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.button .btn.copy{
  background-color: #ffffff !important;
  outline: gray !important;
  color: gray !important;
  border-radius: 8px !important;
}
.button .btn.call{
  background-color: #00A63E !important;
  outline: #00A63E !important;
  color: white !important;
  border-radius: 8px !important;
}
.history-box .right.btn{
   background-color: #00A63E !important;
  outline: #00A63E !important;
  color: white !important;
  border-radius: 50px !important;
  padding-left: 36px !important;
  padding-right: 36px !important;
}
#heart{
  cursor: pointer;
}

/* .navbar{
  padding: 0px !important;
} */